@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

.body-section {
  width: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  color: #a3acff;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 25px;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-logos {
  display: flex;
  color: #505f79;
  list-style-type: none;
  align-items: center;
  gap: 10px;
}

a {
  color: #a3acff;
  text-decoration: none;
}

ul li a {
  color: #505f79;
}

.icons {
  margin-top: 15px;
}

.bg-img {
  background-image: url("./images/white.png");
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.hero-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.name {
  line-break: 10px;
  font-size: 50px;
  color: #172b4d;
  position: relative;
  padding-top: 100px;
  margin-top: 70px;
}

p {
  padding: 20px 0;
  color: #52607a;
  font-size: 15px;
  padding-top: 40px;
}

.ang-logo {
  width: 15px;
}

.section-1 {
  margin-top: 50px;
  display: grid;
  padding: 2em;
  background: #f7f7f9;
  border: 2px solid #e1e3e8;
  height: 100%;
  width: 100%;
}

.first-card {
  margin-top: 80px;
  background: #fff;
  padding: 1rem;
  border: 2px solid #e1e3e8;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  height: auto;
  width: 100%;
}

h1 {
  font-size: 30px;
  color: #172b4d;
}

.details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #abd4c0;
}

.card-img {
  width: 100%;
}

h3 {
  color: #7d899c;
  font-size: 15px;
}

h4 {
  color: #848fa2;
  font-size: 13px;
}

.languages {
  display: flex;
  gap: 7px;
  list-style-type: none;
}

.languages li {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 13px;
  color: #9da6ff;
}

.beg-btn {
  padding: 7px 13px;
  font-size: 17px;
  margin-top: 20px;
  color: #6070ff;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #cfd4ff;
}

.beg-btn:hover {
  background-color: #6070ff;
  color: white;
}

.connect {
  color: #6070ff;
}

.connect:hover {
  background-color: #6070ff;
  color: white;
}

.resume {
  padding: 7px 13px;
  font-size: 17px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #cfd4ff;
  color: #628cf5;
  align-self: start;
}

.about-section {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-start;
  margin: 20px auto;
}

.me {
  color: #182b4e;
  position: relative;
  top: 30px;
}

.ellipse {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 15px;
  padding: 15px 20px;
  margin-bottom: 15px;
}

.dot {
  background-color: black;
  border-radius: 50%;
  font-size: 10px;
  width: 10px;
  height: 10px;
  align-items: baseline;
}

.ellipse img {
  margin-right: 15px;
}

.ellipse p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500px;
}

.lang {
  display: flex;
  color: #3f3f3f solid;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.frame {
  display: flex;
  color: #3f3f3f solid;
  justify-content: space-between;
}

.frame p {
  padding-top: 10px;
}

.height-1 {
  width: 100%;
  padding: 20px;
}

.height-1 .lang-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.height-1 ul {
  list-style: none;
}

.skill-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.frame-title {
  font-size: 20px;
  line-height: 24px;
}

.lang-btn {
  background-color: white;
  border: none;
  font-size: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.lang-btn2 {
  margin-right: 1rem;
  margin-left: 70px;
}

hr {
  border: 1.5px solid #e4e6ff;
}

.contact {
  color: #fff;
  font-size: 50px;
}

.para {
  font-size: 20px;
  color: #fff;
}

.about-contact {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/contact\ form\ shapes-mobile.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 73px;
  padding-top: 60px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.title-container h2 {
  align-self: center;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 50px;
}

.title-container p {
  align-self: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 15px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labels {
  margin-top: 20px;
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 50px;
}

.labels input {
  margin-bottom: 12px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.labels textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 12px;
  outline: none;
}

.labels .in-touch {
  padding: 15px 20px;
  align-self: flex-start;
  border-radius: 7px;
  border: none;
}

::placeholder {
  padding: 30px;
  font-size: 15px;
}

.about-contact hr {
  width: 40%;
  height: 8px;
  background-color: black;
  align-self: center;
  margin-bottom: 6px;
  border-radius: 2px;
  outline: none;
}

.navbar-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .body-section {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.parent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #fff;
  padding-left: 10rem;
  padding-right: 10rem;
}

.bi-list {
  display: none;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.navbar-list li {
  list-style: none;
  margin-left: 20px;
  font-size: 15px;
  color: #172b4d;
}

.navbar-list li a {
  text-decoration: none;
}

/* start second section */
.bg-img {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/desktop/Header\ 2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

.hero-container {
  height: 100%;
  width: 70%;
}

.hero-container p {
  padding-top: 3px;
}

.hero-container .name {
  line-height: 1.2;
}

.connect {
  display: inline;
}

/* 3rd section */
.section-1 {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 8rem;
  margin-top: 0;
  padding-top: 0;
  background-color: #e5e5e5;
}

.first-card {
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.details {
  width: 65%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.details-container .heading {
  margin-top: 20px;
}

.img-container {
  height: 100%;
}

.img-container .card-img {
  height: 100%;
}

.first-card:nth-child(1) {
  order: 1;
}

.first-card:nth-child(2) {
  order: 2;
}

.first-card:nth-child(3) {
  order: 3;
}

.first-card:nth-child(4) {
  order: 4;
}

.first-card:nth-child(2) .img-container {
  order: 2;
}

.first-card:nth-child(4) .img-container {
  order: 2;
}

/* 4th section */

.about-myself {
  width: 100%;
  display: flex;
  padding: 100px;
  background-color: #fff;
  border-top-right-radius: 80px;
}

.about-section {
  width: 50%;
}

.skill-section {
  width: 50%;
}

.ellipse-container {
  display: flex;
  gap: 10px;
}

.ellipse-container .ellipse {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ellipse-container .ellipse p {
  padding: 0;
}

/* contact form section */
.about-contact {
  width: 100%;
  margin-top: 0;
  background-image: url(images/desktop/contact\ form\ background\ shapes@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.form-container,
.title-container {
  width: 50%;
  padding: 0;
}

.form-container {
  margin-bottom: 20px;
}

.about-contact hr {
  display: none;
}
