* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 30px;
}

.connect {
  color: #8c98ff;
  padding: 10px 0;
}

ul {
  display: flex;
  color: #505f79;
  list-style-type: none;
  align-items: center;
}

ul li a {
  color: #505f79;
}

.icons {
  margin-right: 10px;
}

.parent {
  width: 80%;
  margin: auto;
}

.name {
  line-break: 10px;
  font-size: 40px;
  color: #172b4d;
}

.article {
  padding: 30px 0;
  color: #52607a;
}

.ang-logo {
  width: 30px;
}

.bg-img {
  background-image: url("./images/white.png");
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;

  /* background-size: cover; */
  background-position: right top;

  /* background-attachment: fixed; */
}
