@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

.body-section {
  width: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-check-circle-fill {
  font-size: 1.5rem;
}

#x-icon {
  color: #fff;
  position: absolute;
  z-index: 180;
  right: 1.3rem;
  font-weight: 800;
  padding-right: 20px;
}

.navbar {
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-right: 10px;
  padding-left: 10px;
  margin-top: 30px;
}

.popup-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  bottom: 0;
  width: 100vw;
  height: 120vh;
  padding: 35px 20px;
  mix-blend-mode: multiply;
  background-color: #6070ff;
  backdrop-filter: blur(7px);
}

a {
  color: #a3acff;
  text-decoration: none;
}

ul li a {
  color: #505f79;
}

.beg-btn a {
  color: #6070ff;
  font-weight: bold;
  font-size: 1rem;
}

.popup-list li a {
  list-style-type: none;
  color: #fff;
  padding: 10px 7px;
  font-size: 30px;
  font-weight: 700;
}

.popup-list li {
  margin: 50px 0 60px 0;
}

.icon-logos {
  display: flex;
  color: #505f79;
  list-style-type: none;
  align-items: center;
  gap: 10px;
}

.icons {
  margin-top: 15px;
}

.bg-img {
  background-image: url("./images/white.png");
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.hero-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.name {
  line-break: 10px;
  font-size: 50px;
  color: #172b4d;
  position: relative;
  padding-top: 100px;
  margin-top: 70px;
}

p {
  padding: 20px 0;
  color: #52607a;
  font-size: 15px;
  padding-top: 40px;
}

.ang-logo {
  width: 15px;
}

.section-1 {
  margin-top: 50px;
  display: grid;
  padding: 2em;
  background: #f7f7f9;
  border: 2px solid #e1e3e8;
  height: 100%;
  width: 100%;
}

.first-card {
  margin-top: 80px;
  background: #fff;
  padding: 1rem;
  border: 2px solid #e1e3e8;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  height: auto;
  width: 100%;
}

h1 {
  font-size: 30px;
  color: #172b4d;
}

.bi-x-lg::before {
  padding-left: 20rem;
}

.details {
  display: flex;

  /* align-items: baseline; */

  /* justify-content: space-between; */
  color: #848fa2;
}

.card-img {
  width: 100%;
}

h3 {
  color: #687282;
  font-size: 13px;
  font-weight: 700px;
}

h4 {
  color: #848fa2;
  font-size: 13px;
}

.languages {
  display: flex;
  gap: 7px;
  list-style-type: none;
}

.languages li {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 13px;
  color: #9da6ff;
}

.beg-btn {
  padding: 7px;
  font-size: 17px;
  margin-top: 20px;
  color: #6070ff;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #cfd4ff;
}

.beg-btn:hover {
  background-color: #6070ff;
  color: white;
}

.connect {
  color: #6070ff;
}

.connect:hover {
  background-color: #6070ff;
  color: white;
}

.resume {
  padding: 7px 13px;
  font-size: 17px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #cfd4ff;
  color: #628cf5;
  align-self: start;
}

.about-section {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-start;
  margin: 20px auto;
}

.me {
  color: #182b4e;
  position: relative;
  top: 30px;
}

.ellipse {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 15px;
  padding: 15px 20px;
  margin-bottom: 15px;
}

.dot {
  background-color: black;
  border-radius: 50%;
  font-size: 10px;
  width: 10px;
  height: 10px;
  align-items: baseline;
}

.ellipse img {
  margin-right: 15px;
}

.ellipse p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500px;
}

.lang {
  display: flex;
  color: #3f3f3f solid;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.frame {
  display: flex;
  color: #3f3f3f solid;
  justify-content: space-between;
}

.frame p {
  padding-top: 10px;
}

.height-1 {
  width: 100%;
  padding: 20px;
}

.height-1 .lang-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.height-1 ul {
  list-style: none;
}

.skill-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.frame-title {
  font-size: 20px;
  line-height: 24px;
}

.lang-btn {
  background-color: white;
  border: none;
  font-size: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.lang-btn2 {
  margin-right: 1rem;
  margin-left: 70px;
}

hr {
  border: 1.5px solid #e4e6ff;
}

.contact {
  color: #fff;
  font-size: 50px;
}

.para {
  font-size: 20px;
  color: #fff;
}

.about-contact {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/contact\ form\ shapes-mobile.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 73px;
  padding-top: 60px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.title-container h2 {
  align-self: center;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 50px;
}

.title-container p {
  align-self: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 15px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labels {
  margin-top: 20px;
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 50px;
}

.labels span {
  color: red;
  font-size: 13px;
}

.labels span i {
  color: #689f39;
}

#button-error {
  color: red;
}

.labels input {
  margin-bottom: 12px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.labels textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 12px;
  outline: none;
}

.labels .in-touch {
  padding: 15px 20px;
  align-self: flex-start;
  border-radius: 7px;
  border: none;
}

::placeholder {
  padding: 30px;
  font-size: 15px;
}

.about-contact hr {
  width: 40%;
  height: 8px;
  background-color: black;
  align-self: center;
  margin-bottom: 6px;
  border-radius: 2px;
  outline: none;
}

.navbar-list {
  display: none;
}

.pop-up-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: #3f3f3f 0 0 10px;
  padding: 20px;
}

#close-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.pop-up-div-container-img img {
  height: 100%;
  margin: auto;
}

.pop-up-div-container-details-details {
  display: flex;
  align-items: baseline;
  color: #848fa2;
  margin-bottom: 20px;
}

.pop-up-div-container-details p {
  width: 100%;
}

.pop-up-div-container-details .languages {
  display: flex;
  margin-top: 20px;
}

.btn-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit-btn {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .pop-up-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 91%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #3f3f3f 0 0 10px;
    padding: 20px;
  }

  .pop-up-div-container {
    height: 100%;
  }

  .pop-up-div-container-img {
    width: 100%;
    height: 50%;
    background-color: #f1ebe7;
    justify-content: center;
  }

  .pop-up-div-container-img img {
    /* width: 100%; */
    margin: 0 19%;
    height: 100%;
  }

  .pop-up-div-container-details-details {
    display: flex;

    /* justify-content: space-between; */
  }

  .pop-up-div-container-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .pop-up-div-container-details p {
    width: 70%;
  }

  .pop-up-div-container-details .languages {
    display: flex;
    margin-top: 20px;
  }

  .btn-details {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
  }

  .body-section {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .parent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: #fff;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .bi-list {
    display: none;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    transform: rotate3d(65deg);
    position: relative;
  }

  .navbar-list li {
    list-style: none;
    margin-left: 20px;
    font-size: 15px;
    color: #172b4d;
  }

  .navbar-list li a:hover {
    text-decoration: none;
    background-color: #ccdbee;
  }

  .bi-x-lg::before {
    padding-left: 47rem;
  }

  .bi-x-lg {
    position: absolute;
    text-align: center;
    right: 40px;
    font-size: 20px;
  }

  /* start second section */
  .bg-img {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/desktop/Header\ 2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom-left-radius: 80px;
    transform: rotate2d(1, 1, 1, 30deg);
  }

  .hero-container {
    height: 100%;
    width: 70%;
  }

  .hero-container .paragraph {
    position: relative;
    padding-top: 3px;
    animation: para 3s linear;
  }

  .hero-container .name {
    line-height: 1.2;
    animation: title 3s linear;
  }

  @keyframes title {
    0% { top: -1000px; }
    100% { top: 0; }
  }

  @keyframes para {
    0% { right: -1000px; }
    100% { right: 0; }
  }

  .connect {
    display: inline;
    position: relative;
    animation: connect 3s linear;
  }

  .icon-logos {
    position: relative;
    animation: connect 3s linear;
  }

  @keyframes connect {
    0% { bottom: -1000px; }
    100% { bottom: 0; }
  }

  .beg-btn:hover {
    background-color: #528bfe;
    color: #c8643f;
  }

  /* 3rd section */
  .section-1 {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    padding: 8rem;
    margin-top: 0;
    padding-top: 0;
    background-color: #e5e5e5;
  }

  .first-card {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .details {
    width: 65%;
    display: flex;

    /* justify-content: space-between;
    gap: 10px; */
  }

  .details-container .heading {
    margin-top: 20px;
  }

  .img-container {
    height: 100%;
  }

  .img-container .card-img {
    height: 100%;
    transition: 2s linear;
  }

  .img-container .card-img:hover {
    transform: rotate(360deg);
  }

  .first-card:nth-child(1) {
    order: 1;
  }

  .first-card:nth-child(2) {
    order: 2;
  }

  .first-card:nth-child(3) {
    order: 3;
  }

  .first-card:nth-child(4) {
    order: 4;
  }

  .first-card:nth-child(2) .img-container {
    order: 2;
  }

  .first-card:nth-child(4) .img-container {
    order: 2;
  }

  /* 4th section */

  .about-myself {
    width: 100%;
    display: flex;
    padding: 100px;
    background-color: #fff;
    border-top-right-radius: 80px;
  }

  .about-section {
    width: 50%;
  }

  .skill-section {
    width: 50%;
  }

  .ellipse-container {
    display: flex;
    gap: 10px;
  }

  .ellipse-container .ellipse {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ellipse-container .ellipse p {
    padding: 0;
  }

  /* contact form section */
  .about-contact {
    width: 100%;
    margin-top: 0;
    background-image: url(images/desktop/contact\ form\ background\ shapes@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .form-container,
  .title-container {
    width: 50%;
    padding: 0;
  }

  .form-container {
    margin-bottom: 20px;
  }

  .languages li:hover {
    background-color: #ff7b29;
  }

  .about-contact hr {
    display: none;
  }
}
